.header{
    height: 45rem;
    width: 100%;
    background-image: linear-gradient(rgba($color-white, 0.8), rgba($color-header, 0.8)), url(/img/background.jpg);
    background-size: cover;
    background-position: top;
    margin: 0 auto;
    position: relative;

}
menu{
    max-width: 100%;
    height: 10rem;
    background-position: top;
    background-attachment: fixed;
    padding: 0;
    overflow: hidden;
    display: block;
    position: sticky;
    top: 0;
    z-index: 5;

    @include respond(tab-port) {
        height: 6rem;
    }


}

.header{
    &-menu {
        max-height: 20%;
        margin: 0 auto;
        background-color: rgba($color-header, 0.9);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(tab-land) {
            display: block;
            max-height: 25%;
        }

        &.active {
            background-color: rgba($color-header-dark, 0.9);
        }
    }

    @include clearfix;

    &-logo{
        display: inline-block;
        width: 20rem;
        height: 100%;
        margin-left: 35rem;
        text-decoration: none;

        @include respond(phone) {
            margin-left: 0;
        }
        
        &-word{
            display: inline-block;
            text-decoration: none;
            
            .food{
                display: inline-block;
                font-family: 'Artifika', serif;
                font-size: 4.5rem;
                text-align: right;
                color: $color-white;
            }
            .dot{
                display: inline-block;
                font-family: 'Artifika', serif;
                font-size: 4.5rem;
                text-align: right;
                color: yellow;
            }
        }
    }

    &-nav {
        display: inline-block;
        width: 75rem;
        margin: 0 auto;
        border-radius: 3px;

        transition: all 1s;

        @include clearfix;

        &.active {
            background-color: $color-header-dark;
        }

        &-cont {
            width: fit-content;
            height: 100%;
            text-align: center;
            display: none;
            margin: 1rem;

            &-icon {
                font-size: 3.6rem;
                color: $color-white;
            }

            @include respond(tab-land) {
                display: inline-block;
            }
        }

        &--item {
            float: left;
            list-style: none;
            width: calc((100% - 6rem) / 2);
            padding: 1rem;

            @include respond(tab-land) {
                float: none;
                width: 100%;
                z-index: 10;
            }

            li{
                display: inline-block;
                padding: .5rem 0;

                & a{
                    &:link,
                    &:visited{
                        font-size: 1.4rem;
                        color: $color-white;
                        text-align: center;
                        padding: 2rem 1rem;
                        text-decoration: none;
                        letter-spacing: .2rem;
                    }   
                    &:hover{
                    color: $color-green-cyde;
                    }   
                    
                }

                @include respond(tab-land) {
                    width: 100%;
                    display: block;
                }
            }

        }

        @include respond(tab-land) {
            display: none;
            width: 80%;
            position: absolute;
            top: 8rem;
            left: 0;
            background-color: $color-header;
            z-index: 10;
            padding: 1rem;
            text-align: center;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }


    &-logo-info{
        max-width: fit-content;
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        background-color: $color-green-cyde;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        transform: translate(43rem);
        clip-path: polygon(0% 25%, 20% 25%, 20% 0%, 23% 25%, 100% 20%, 100% 100%, 0% 100%);
        border-radius: 1rem;

        &.active {
            background-color: $color-green-cyde-dark;
        }

        &-fave:active,
        :link,
        :visited{
            text-decoration: none;
            color: $color-black;
            
            &:hover{
                text-decoration: underline;
            }
        }

        @include respond(phone) {
            transform: translate(0);
            display: block;
            clip-path: none;
        }
    }
}

.headtitle{
    &-container {
        display: block;
        height: 20rem;
        max-width: 100rem;
        margin: 0 auto;
        margin-top: 10rem;

        @include respond(phone) {
            margin-top: 5rem;
        }
    }
    
    &-content {
        height: inherit;
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        position: relative;

        &-heading {
            max-height: 20rem;
            max-width: 60rem;
            padding: 0;
            margin-bottom: 5rem;
            display: inline-block;

            @include respond(phone) {
                max-width: 100%;
            }

            &--word-replace {
                visibility: hidden;
        
                &:hover::before {
                    text-decoration: underline;
                    text-decoration-color: $color-white;
                }
                
        
                &::before {
                    display: inline-block;
                    line-height: 1.2;
                    letter-spacing: .2rem;
                    padding: .5rem;
                    font-size: 4rem;
                    font-weight: 550;
                    color: $color-white;
                    box-sizing: border-box;
                    width: 45rem;
                    visibility: visible;
                    position: relative;
                    content: "OUR TOP 50 MOST-SAVED RECIPES";
                    animation: replace infinite 15s;

                    @include respond(phone) {
                        font-size: 3rem;
                        max-width: 100%;
                    }
                }
                
            }
        }
    }

}

.hidden {
    display: inline-block;
}
