//COLORSS
$color-background: #7b928f;
$color-background-dark: #2b3130;
$color-black: #222;
$color-green: #109499;
$color-green-cyde: #6ddee2;
$color-green-cyde-dark: #478485;
$color-grey-light: #f7f7f7;
$color-header: #345a6a;
$color-header-dark: #1b2e36;
$color-magenta: rgb(146, 3, 151);
$color-magenta-dark: rgb(87, 1, 90);
$color-magenta-light: rgb(242, 13, 128);
$color-magenta-dark: rgb(39, 2, 64);
$color-orange: #f8ac09;
$color-white: #fff;
$color-white-2: #cacaca;

//PADDINGS
$gutter-horizonal: 1rem;



//$color-magenta-light: hsl(330, 90%, 81%);