*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    background-color: $color-white-2;
    padding: 1rem;

    box-sizing: border-box;

    &.active {
        background-color: $color-background-dark;
    }
}
